name: Build package
on:
  workflow_dispatch:
    inputs:
      name:
        type: string
        description: Debian source package
        required: true
env:
  DPKG_DEB_COMPRESSOR_TYPE: zstd
  DPKG_DEB_COMPRESSOR_LEVEL: "19"
  DEB_BUILD_OPTIONS: nocheck
  DEB_BUILD_PROFILES: nocheck,nobiarch
  DEBNAME: Perpetuity Rebuilder
  DEBEMAIL: perpetuity@piperswe.me
jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/piperswe/perpetuity/builder:latest
    strategy:
      matrix:
        march:
          [
            pentium-mmx,
            pentium2,
            pentium3,
            pentium4,
            k6,
            k6-2,
            athlon,
            athlon-xp,
          ]
    steps:
      - name: Install dependencies
        run: |
          apt-get build-dep -y "${{ github.event.inputs.name }}"
      - name: Run build
        run: |
          apt-get source --only-source --compile "${{ github.event.inputs.name }}"
        env:
          DEB_CFLAGS_APPEND: -march=${{ matrix.march }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.name }}-${{ matrix.march }}
          path: "*.deb"
