name: Build package
on:
  workflow_dispatch:
    inputs:
      name:
        type: string
        description: Debian source package
        required: true
env:
  DPKG_DEB_COMPRESSOR_TYPE: zstd
  DPKG_DEB_COMPRESSOR_LEVEL: "19"
  DEB_BUILD_OPTIONS: nocheck
  DEB_BUILD_PROFILES: nocheck,nobiarch
  DEB_BUILD_MAINT_OPTIONS: optimize=+lto
  DEBNAME: Perpetuity Rebuilder
  DEBEMAIL: perpetuity@piperswe.me
jobs:
  build:
    name: Build ${{ github.event.inputs.name }} for ${{ matrix.march }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/piperswe/perpetuity/builder:latest
      volumes:
        - /tmp:/__e/node24
        - /tmp:/__e/node20
    strategy:
      matrix:
        march:
          [
            pentium-mmx,
            pentium2,
            pentium3,
            pentium4,
            k6,
            k6-2,
            athlon,
            athlon-xp,
          ]
    steps:
      - name: Fix Node.js for upload-artifact
        run: |
          mkdir -p /__e/node24/bin
          ln -sf $(which node) /__e/node24/bin/node
          ln -sf $(which npm) /__e/node24/bin/npm
          ln -sf $(which npx) /__e/node24/bin/npx

          mkdir -p /__e/node20/bin
          ln -sf $(which node) /__e/node20/bin/node
          ln -sf $(which npm) /__e/node20/bin/npm
          ln -sf $(which npx) /__e/node20/bin/npx
      - name: Install dependencies
        run: |
          apt-get build-dep -y "${{ github.event.inputs.name }}"
      - name: Run build
        run: |
          apt-get source --only-source --compile "${{ github.event.inputs.name }}"
        env:
          DEB_CFLAGS_APPEND: -march=${{ matrix.march }}
      - name: Collect outputs
        run: |
          mkdir -p out
          for f in *; do if test -f "$f"; then cp "$f" out/; fi; done
      - name: Upload to Abacus
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ID_PERPETUITY }}" > ~/.ssh/id_perpetuity
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_perpetuity out/* perpetuity@abacus.asymptote.club:incoming/${{ matrix.march }}/
